body{
  margin: 0;

}

.App {
  text-align: center;
}

/* HEADER */
.header{
  font-family: 'Megrim', cursive;
  font-size: 35px;
  
}

.header, .input {
  padding: 10px;
  /* COLOR GRADIENT TAKEN FROM https://uigradients.com/#Dania */
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding:40px;
}

header a{
  text-decoration: none;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

/* INPUT FORM */
input{
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 8px;
  width: 180px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

button{
  padding: 8px;
  border-radius: 10px;
  width: 65px;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color:black;
  color: white;
}

button:hover {
  background-color: white; /* Green */
  color: black;
  cursor:pointer;
}

/* SEARCH RESULTS */
.job-card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 25px;
}

.job-info{
  border-radius: 10px;  
  width: 40%;
  height: 280px;
  margin-bottom: 20px;
  padding: 10px;
}

.job-info:hover{
  /* BOX SHADOWING CODE TAKEN FROM https://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.51);
  box-shadow: 10px 10px 35px 0px rgba(172, 185, 185, 0.51);
}

.job-info img{
  height: 100px;
  max-width: 100%;
}
.sorry img{
  margin-top: 80px;
  height: 300px;
  width: auto;
}
main{
  margin-bottom: 50px;
  min-height: 100vh;
}

/* ONE JOB */
.one-job{
  margin: 25px;
  display: flex;
  
}
.one-job img{
  height: 250px;
  max-width: 250px;
}

.data{
  width: 30%;
  padding: 50px;
}  

.more-data{
  float: right; 
  border: 1px solid black;
  width: 60%;
  background-color: #ebebeb;
  margin-bottom: 30px;
} 

.data .more-data{
  display: inline;
}

/* FOOTER */
.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  /* padding: 1px; */
  position: fixed;
}

/* MEDIA QUERIES */
@media only screen 
and (max-width: 700px){
  .job-card{
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .job-info {
    width: 100%;
    height: auto;
    
  }

  .one-job{
    display: block;
    width:80%;
    margin: 0 auto;
  }

  .data{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .more-data{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }

}
