body{
  margin: 0;
}

.App {
  text-align: center;
}

/* HEADER */
.header{
  font-family: 'Megrim', cursive;
  font-size: 35px;
  color: white;

}

.header, .input {
  background: black;
  padding: 10px;
}

input{
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 8px;
  width: 150px;
  margin: 10px;
}

button{
  padding: 8px;
  border-radius: 10px;
  width: 65px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: lightgreen; /* Green */
  color: white;
}

/* SEARCH RESULTS */
.job-card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
}

.job-info{
  border: 1px solid black;
  /* box-sizing: border-box;  
  padding: 25px 25px 50px 25px;
  margin: 25px 100px 25px 100px; */
  border-radius: 10px;  
  width: 40%;
  height: 250px;
  
}

.job-info img{
  height: 100px;
  width: auto;
}

/* FOOTER */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}


